<div id="contactanos" class="container">
  <h1 class="text-center animated fadeIn fast">Contactanos</h1>

  <div class="row animated fadeIn">
    <div class="col-6">
      <h3>Telefono</h3>
      <p>(+58) 414 275 57 45</p>
      <p>(+58) 424 826 61 23</p>
    </div>

    <div class="col-6">
      <h3>Email</h3>
      <p>todaypostres@gmail.com</p>

      <h3>Horario de atención</h3>
      <p>10:00 am – 8:00 pm</p>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <h3>Dirección</h3>
      <h5><i>Para retirar/Pick up</i></h5>
      <p>Lomas del Ávila – Calle 16. Palo Verde, Caracas</p>

      <h5><i>Zonas de entrega / Delivery</i></h5>
      <img src="assets/img/mapa.jpg" alt="mapa entregas">
    </div>
  </div>

</div>
