
nav{
  background: #d10505;
}

.navbar-brand{
  font-family: 'Grand Hotel', arial;
  color: white;
}


.fa {
  margin: auto;
  color: white;
}

a{
  color: white;
  font-family: Impact, fantasy;
  font-size: calc(0.5em + 0.5vw);
}

h1 {
  font-size: calc(1.5em + 2vw);
}


