
<div id="productos" class="container">
  <h1 class="text-center animated fadeIn fast">Productos</h1>

  <div class="animated fadeIn">
     <!--Brownies-->
    <div class="row ">
      <div class="col-sm-12 col-lg-6 col-md-6">
        <ul id="brownies" class="list-group">
          <li class="list-group-item nombre">Brownies</li>
          <li class="list-group-item">Brownie clásico </li>
          <li class="list-group-item">Brownie con arequipe</li>
          <li class="list-group-item">Brownie con maní</li>
          <li class="list-group-item">Brownie con ron</li>
          <li class="list-group-item">Brownie de limón</li>
          <li class="list-group-item">Brownie doble chocolate</li>
          <li class="list-group-item">Brownie oscuro</li>
        </ul>
      </div>
      <div class="col-sm-12 col-lg-6 col-md-6 d-none d-md-block">
        <img src="assets/img/brownie-producto.jpg" alt="brownie">
      </div>
    </div>

    <!--Galletas-->
    <div class="row ">
      <div class="col-sm-12 col-lg-6 col-md-6 d-none d-md-block">
        <img src="assets/img/galletas-productos.jpg" alt="galletas chocochips">
      </div>
      <div class="col-sm-12 col-lg-6 col-md-6">
        <ul id="galletas" class="list-group">
          <li class="list-group-item nombre">Galletas</li>
          <li class="list-group-item">Acanelados</li>
          <li class="list-group-item">Besitos de coco</li>
          <li class="list-group-item">Chocochips</li>
          <li class="list-group-item">Chocolate chocochips</li>
          <li class="list-group-item">Pasta seca</li>
          <li class="list-group-item">Polvorones</li>
        </ul>
      </div>
    </div>

    <!--Marquesas-->
    <div class="row">
      <div class="col-sm-12 col-lg-6 col-md-6 ">
        <ul id="marquesas" class="list-group">
          <li class="list-group-item nombre">Marquesas</li>
          <li class="list-group-item">Choco Oreo</li>
          <li class="list-group-item">Choco Moka</li>
          <li class="list-group-item">Coco</li>
          <li class="list-group-item">Limón</li>
          <li class="list-group-item">Maní</li>
          <li class="list-group-item">Parchita</li>
        </ul>
      </div>
      <div class="col-sm-12 col-lg-6 col-md-6 d-none d-md-block">
        <img src="assets/img/marquesa-producto.jpg" alt="marquesas de chocolate">
      </div>
    </div>

    <!--Pies-->
    <div class="row">
      <div class="col-sm-12 col-lg-6 col-md-6 d-none d-md-block">
        <img src="assets/img/pie-productos.jpg" alt="pie de dulce limón">
      </div>
      <div class="col-sm-12 col-lg-6 col-md-6 ">
        <ul id="pies" class="list-group">
          <li class="list-group-item nombre">Pies</li>
          <li class="list-group-item">Pie acanelado de manzana</li>
          <li class="list-group-item">Pie Cocada de la abuela</li>
          <li class="list-group-item">Pie de chocolate fudge</li>
          <li class="list-group-item">Pie de dulce limón</li>
          <li class="list-group-item">Pie de parchita tropical</li>
          <li class="list-group-item">Pie de piña colada</li>
          <li class="list-group-item">Pie de piña para la niña</li>
        </ul>
      </div>
    </div>

    <!--Quesillos-->
    <div class="row">
      <div class="col-sm-12 col-lg-6 col-md-6">
        <ul id="quesillos" class="list-group">
          <li class="list-group-item nombre">Quesillos</li>
          <li class="list-group-item">Quesillo clásico</li>
          <li class="list-group-item">Quesillo de chocolate</li>
          <li class="list-group-item">Quesillo de coco</li>
          <li class="list-group-item">Quesillo de parchita</li>
          <li class="list-group-item">Quesillo de piña</li>
          <li class="list-group-item">Quesitorta</li>
        </ul>
      </div>
      <div class="col-sm-12 col-lg-6 col-md-6 d-none d-md-block">
        <img  src="assets/img/quesillo-producto.jpg" alt="quesillo clásico">
      </div>
    </div>

    <!--Tortas-->
    <div class="row">
      <div class="col-sm-12 col-lg-6 col-md-6 d-none d-md-block">
        <img  src="assets/img/torta-productos.jpg" alt="torta Moka">
      </div>
      <div class="col-sm-12 col-lg-6 col-md-6">
        <ul id="tortas" class="list-group">
          <li class="list-group-item nombre">Tortas</li>
          <li class="list-group-item">Bizcocho de zanahoria con frosting de queso crema</li>
          <li class="list-group-item">Moka</li>
          <li class="list-group-item">Pastel esponja de chocolate</li>
          <li class="list-group-item">Red velvet con frosting de queso crema</li>
          <li class="list-group-item">Tres leches</li>
          <li class="list-group-item">Tres leches de oreo</li>
          <li class="list-group-item">Torta cremosa de limón</li>
          <li class="list-group-item">Troncha toro</li>
        </ul>
      </div>
    </div>
  </div>

</div>
