<div id="quienes-somos" class="container">
  <h1 class="text-center wow fadeInDown" data-wow-duration="1s" data-wow-delay="0.5s">Quienes Somos</h1>

  <div class="row animated">
    <div class="col-sm-12 col-lg-6 col-md-6 wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.7s">
      <p>Postres Today es un equipo de repostería dedicado a la elaboración de dulces antojos que se adapten a los gustos
         de TOODOS nuestros consumidores, es por ello que contamos con una amplia variedad en postres de calidad y
         hechos…no con mucho, sino con muchííííííísimo amor.
      </p>
      <p>Nuestro principal propósito es sacarle una sonrisa al corazón satisfaciendo al paladar. Así que…te damos una cálida bienvenida,
         te invitamos a conocernos y ser parte de ésta empalagosa familia!!
     </p>
    </div>
    <div class="col-sm-12 col-lg-6 col-md-6 text-center wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.9s">
      <img src="assets/img/batidora.jpg" alt="">
    </div>
  </div>

</div>
